body {
  background-image: url("fiesta.jpg");
  background-size: cover;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  text-decoration: underline overline;
}
h2 {
  text-decoration: underline;
  text-align: center;
}
h3 {
  text-align: left;
  margin-left: 15px;
  text-decoration: underline;
}
ul {
  margin-left: 15px;
  list-style-type: square;
}
ol {
  margin-left: 15px;
  list-style-type: upper-roman;
}
ol li {
  margin-top: 5px;
}
div {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 1500px;
  width: 1000px;
  background-color: white;
  border-radius: 10%;
  border-style: solid;
  border-color: black;
  box-shadow: 5px 5px 20px;
}
p {
  text-align: center;
  color: #56D9FF;
}
hr {
  background-color: black;
}
a {
  margin-left: 15px;
  font-size: 22px;
}
a:link {
  color: #0C5B73;
}
a:visited {
  color: #CC6E27;
}
a:hover {
  font-weight: bold;
  color: #B86323;
  text-decoration: none;
}
a:active {
  color: #56D9FF;
}
.empanadas {
  float: right;
  margin-right: 90px;
  border-radius: 40%;
  height: 250px;
  width: 300px;
  border-style: solid;
  border-color: black;
  box-shadow: 2px 2px 6px;
}
#empanadas2 {
  margin-top: 40px;
}
#TOP {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  display: block;
  height: 100px;
  width: 130px;
}